body {
    max-width: 90%;
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 ,h2 {
    color:white;
    text-align: center;
}


h1 {   
    font-size: 50 px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

p{
    color: dimgrey;
}
a{
    color:aquamarine;
    font-size: 16px;
    
}
.firma {
    text-align: left;
    color:grey
}